:root {
    --background: #f3eae3;
    --green: #3d8168;
    --grey-text: #acabb9;
    --desktop-height: 600px;
    --desktop-width: 450px;
    --content-padding-left: 15px;
    --content-padding-top: 30px;
    --card-background: #fff;
    --card-border-radius: 15px;
    --card-padding: 15px;
}

body, html {
    background: var(--background);
}

.container {

}

.card-container {
    background: var(--card-background);
    border-radius: var(--card-border-radius);
    overflow: hidden;
}

.card-image {
    width: 100%;
}

.card-info-content {
    padding: var(--card-padding);
}

.category {
    color: var(--grey-text);
    text-transform: uppercase;
    letter-spacing: .5em;
}

.description {
    color: var(--grey-text);
}