:root {
    --background: hsl(30, 38%, 92%);
    --green: hsl(158, 36%, 37%);
    --grey-text: hsl(228, 12%, 48%);
    --desktop-height: 600px;
    --desktop-width: 450px;
    --content-padding-left: 15px;
    --content-padding-top: 30px;
    --card-background: #fff;
    --card-border-radius: 15px;
    --card-padding: 15px;
    --text-white: #fff;
}

body, html {
    background: var(--background);
}

@font-face {
    font-family: "Montserrat";
    src: url("Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Fraunces";
    src: url("Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf") format("truetype");
}

* {
    box-sizing: border-box;
    font-family: "Montserrat";
    font-size: 14px;
}

.container {
    padding: var(--content-padding-top) var(--content-padding-left);
}

.card-container {
    background: var(--card-background);
    border-radius: var(--card-border-radius);
    overflow: hidden;
}

.card-image {
    width: 100%;
}

.card-info-content {
    padding: 30px;
}

.category {
    color: var(--grey-text);
    text-transform: uppercase;
    letter-spacing: .5em;
}

.description {
    color: var(--grey-text);
    font-size: 1.5em;
    margin-bottom: var(--content-padding-left);
}

.button-container {
    margin-top: var(--content-padding-top);
    width: 100%;
}

.button {
    background: var(--green);
    color: var(--text-white);
    padding: var(--content-padding-left) calc(2 * var(--content-padding-left));
    border-radius: var(--card-border-radius);
    font-weight: bold;
    font-size: 1.2em;
    display: inline-block;
    width: 100%;
    border: none;
}

.title {
    font-weight: bold;
    font-size: 3em;
}

.price-container {
    display: flex;
    align-items: center;
}

.price {
    color: var(--green);
    font-weight: bold;
    font-size: 3em;
    font-family: "Fraunces";
}

.discounted-price {
    font-weight: bold;
    color: var(--grey-text);
    text-decoration: line-through;
    vertical-align: center;
    margin-left: 10px;
    font-family: "Fraunces";
}

@media screen and (min-width: 768px) {
    .card-container {
        max-width: 600px;
        margin: auto;
        display: flex;
        flex-direction: row;
    }

    .card-container>* {
        flex: 1;
    }

    .card-image {
        height: 100%;
    }
}